<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>search page</title>
</head>
<body>
    <h1>This is the searching page </h1>
    <form action="" enctype='multipart/form-data' method='POST'>
         <select name="area">
             <option value="baoshan">宝山</option>
              <option value="changning">长宁</option>
              <option value="huangpu">黄浦</option>
              <option value="jiading">嘉定</option>
              <option value="jinshan">金山</option>
              <option value="pudong">浦东</option>
              <option value="putuo">普陀</option>
             <option value="songjiang">松江</option>
             <option value="xuhui">徐汇</option>
             <option value="zhabei">闸北</option>
         </select>
          <input type="submit" value="submit">
    </form>
</body>
</html>